/* line 38, ../sass/partials/_base.scss */
html,
body {
  font-family: "montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #353535;
  line-height: 1.2;
}

/* line 46, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/partials/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 98, ../sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 112, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 116, ../sass/partials/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 121, ../sass/partials/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 127, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 135, ../sass/partials/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 142, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 26, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 44, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 60, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 82, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 102, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 113, ../sass/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 127, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 138, ../sass/partials/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 154, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 163, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 179, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 189, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 222, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 256, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 265, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 273, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 277, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 325, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 338, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 351, ../sass/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 360, ../sass/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 370, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 380, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 410, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 434, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 446, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 462, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 484, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 494, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 506, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 517, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 538, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 549, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 563, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 573, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 587, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 605, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 615, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 628, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 633, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../sass/partials/_grids.scss */
.content-fluid,
.content-lg,
.content-md,
.content-sm {
  margin: 0 auto;
}

/* line 7, ../sass/partials/_grids.scss */
.content-fluid {
  width: 100%;
}

/* line 10, ../sass/partials/_grids.scss */
.content-lg {
  width: 960px;
}

/* line 13, ../sass/partials/_grids.scss */
.content-md {
  width: 860px;
}

/* line 16, ../sass/partials/_grids.scss */
.content-sm {
  width: 320px;
}

/* line 20, ../sass/partials/_grids.scss */
.full {
  width: 100%;
}

/* line 23, ../sass/partials/_grids.scss */
.half {
  width: 50%;
}

/* line 27, ../sass/partials/_grids.scss */
.left {
  float: left;
}

/* line 30, ../sass/partials/_grids.scss */
.right {
  float: right;
}

/* NEXA BOLD */
@font-face {
  font-family: 'nexa_bold';
  src: url("../fonts/nexa_bold-webfont.eot");
  src: url("../fonts/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_bold-webfont.woff2") format("woff2"), url("../fonts/nexa_bold-webfont.woff") format("woff"), url("../fonts/nexa_bold-webfont.ttf") format("truetype"), url("../fonts/nexa_bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* MONTSERRAT - ultra light, light, regular, semibold, bold */
@font-face {
  font-family: 'montserrat_ultralight';
  src: url("../fonts/montserrat-ultralight-webfont.eot");
  src: url("../fonts/montserrat-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff"), url("../fonts/montserrat-ultralight-webfont.ttf") format("truetype"), url("../fonts/montserrat-ultralight-webfont.svg#montserratultra_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat_light';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat_semibold';
  src: url("../fonts/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat_bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/partials/_titles.scss */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/partials/_titles.scss */
h1 {
  position: relative;
  font-family: 'montserrat_bold';
  font-size: 92px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  line-height: 48px;
  z-index: 10;
}
/* line 16, ../sass/partials/_titles.scss */
h1 a {
  color: #fff;
  text-decoration: none;
}
/* line 20, ../sass/partials/_titles.scss */
h1 span {
  font-family: 'montserrat_ultralight';
}

/* line 25, ../sass/partials/_titles.scss */
h2 {
  font-family: "nexa_bold", Helvetica, Arial, sans-serif;
  font-size: 48px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

/* line 32, ../sass/partials/_titles.scss */
h3 {
  font-family: "nexa_bold", Helvetica, Arial, sans-serif;
  font-size: 36px;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 6, ../sass/partials/_buttons.scss */
.btn:hover {
  cursor: pointer;
}

/* line 11, ../sass/partials/_buttons.scss */
.btn-square {
  padding: 12px 82px;
  font-family: 'nexa_bold';
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  background: #fdbd4e;
  border-top: 1px solid #fee6bc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 0 #e59f26, 0 5px 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 3px 0 #e59f26, 0 5px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 0 #e59f26, 0 5px 10px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 23, ../sass/partials/_buttons.scss */
.btn-square:hover {
  background: #e59f26;
  border-top: 1px solid #fdbd4e;
  text-shadow: none;
  -moz-box-shadow: 0 3px 0 #e59f26, 0 3px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 3px 0 #e59f26, 0 3px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 0 #e59f26, 0 3px 5px rgba(0, 0, 0, 0.35);
}

/* line 31, ../sass/partials/_buttons.scss */
.btn-fb {
  padding: 10px 22px 8px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #fff;
  background: #4d68a4;
  border-top: 1px solid #7c96d1;
  -moz-box-shadow: 0 2px 0 #364973, 0 5px 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 0 #364973, 0 5px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 0 #364973, 0 5px 10px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 41, ../sass/partials/_buttons.scss */
.btn-fb:hover {
  background: #364973;
  border-top: 1px solid #4d68a4;
  -moz-box-shadow: 0 3px 0 #364973, 0 3px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 3px 0 #364973, 0 3px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 0 #364973, 0 3px 5px rgba(0, 0, 0, 0.35);
}
/* line 46, ../sass/partials/_buttons.scss */
.btn-fb i {
  padding-right: 24px;
  font-size: 28px;
  vertical-align: middle;
}

/* line 53, ../sass/partials/_buttons.scss */
.btn-round {
  font-family: "montserrat", Helvetica, Arial, sans-serif;
  padding: 12px 22px;
  color: #413454;
  background: #fdbd4e;
  border-bottom: 2px solid #e59f26;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 61, ../sass/partials/_buttons.scss */
.btn-round:hover {
  background: #e59f26;
}

/* line 1, ../sass/partials/_icons.scss */
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 13, ../sass/partials/_icons.scss */
.icon-lab {
  width: 16px;
  height: 16px;
  background: url("../img/icon_potion.svg") no-repeat;
}

/* line 19, ../sass/partials/_icons.scss */
.icon-scroll {
  position: absolute;
  top: auto;
  bottom: 26px;
  width: 18px;
  height: 34px;
  margin-left: -9px;
  border: 3px solid #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 28, ../sass/partials/_icons.scss */
.icon-scroll:after {
  position: absolute;
  content: '';
  top: 7px;
  left: 8px;
  width: 3px;
  height: 8px;
  background: #fff;
  animation-name: mouse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  to {
    top: 10px;
  }
}
/* line 1, ../sass/modules/_header.scss */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 60px;
  color: #eee;
  background: rgba(0, 0, 0, 0.7);
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
}
/* line 2, ../sass/partials/_mixins.scss */
header:before, header:after {
  content: "";
  display: table;
}
/* line 7, ../sass/partials/_mixins.scss */
header:after {
  clear: both;
}
/* line 13, ../sass/modules/_header.scss */
header .logo {
  float: left;
  margin-right: 40px;
}
/* line 16, ../sass/modules/_header.scss */
header .logo img {
  width: auto;
  height: 46px;
  margin-top: 6px;
}
/* line 23, ../sass/modules/_header.scss */
header nav,
header ul li {
  display: inline-block;
}
/* line 26, ../sass/modules/_header.scss */
header nav + li,
header ul li + li {
  margin-left: 40px;
}
/* line 29, ../sass/modules/_header.scss */
header nav a,
header ul li a {
  display: block;
  font-family: "montserrat_semibold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #eee;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 39, ../sass/modules/_header.scss */
header .user {
  float: right;
  color: #eee;
}
/* line 42, ../sass/modules/_header.scss */
header .user .user-portrait {
  float: left;
  margin: 6px 11px 0 0;
  overflow: hidden;
}
/* line 46, ../sass/modules/_header.scss */
header .user .user-portrait img {
  width: 48px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 51, ../sass/modules/_header.scss */
header .user p {
  padding: 12px 0;
  display: inline-block;
  font-family: "montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
}
/* line 57, ../sass/modules/_header.scss */
header .user p span {
  font-family: "montserrat_semibold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fdbd4e;
  text-transform: uppercase;
}

/* line 1, ../sass/modules/_home.scss */
.home section p {
  font-family: "montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}
/* line 5, ../sass/modules/_home.scss */
.home section p + p {
  padding-top: 20px;
}
/* line 8, ../sass/modules/_home.scss */
.home section p.bigger {
  font-size: 20px;
  padding-bottom: 42px;
}
/* line 11, ../sass/modules/_home.scss */
.home section p.bigger span {
  text-transform: uppercase;
}
/* line 15, ../sass/modules/_home.scss */
.home section p a {
  color: #fdbd4e;
}
/* line 17, ../sass/modules/_home.scss */
.home section p a:hover {
  text-decoration: underline;
}

/* ======================================
    INTRODUCTION
====================================== */
/* line 26, ../sass/modules/_home.scss */
.home-intro {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url("../img/home_background.jpg") no-repeat center center;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 35, ../sass/modules/_home.scss */
.home-intro .intro-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 41, ../sass/modules/_home.scss */
.home-intro .subtitle {
  position: relative;
  padding: 54px 0 8px;
  margin-bottom: 120px;
  color: #fff;
  font-family: "montserrat_light", Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 49, ../sass/modules/_home.scss */
.home-intro .subtitle:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 34px;
  width: 36px;
  height: 1px;
  margin-left: -18px;
  background-color: #fff;
}

/* ======================================
    DESCRIPTION
====================================== */
/* line 65, ../sass/modules/_home.scss */
.home-description {
  background: url("../img/movie_clap.svg") no-repeat top -120px right -24px #7b6696;
  background-size: 38% auto;
  border-bottom: 1px solid #413454;
}
/* line 70, ../sass/modules/_home.scss */
.home-description .description {
  padding: 200px 0;
}
/* line 72, ../sass/modules/_home.scss */
.home-description .description h2 {
  color: #fdffe6;
  padding-bottom: 66px;
}
/* line 76, ../sass/modules/_home.scss */
.home-description .description p {
  color: #fdffe6;
}

/* ======================================
    GET STARTED
====================================== */
/* line 86, ../sass/modules/_home.scss */
.home-features {
  padding: 80px 0;
}
/* line 89, ../sass/modules/_home.scss */
.home-features h2 {
  color: #7b6696;
  text-align: center;
  padding-bottom: 24px;
}
/* line 95, ../sass/modules/_home.scss */
.home-features .feature {
  position: relative;
  padding: 72px 0;
}
/* line 98, ../sass/modules/_home.scss */
.home-features .feature:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 320px;
  height: 1px;
  margin: 0 auto 0 -160px;
  background-color: #eaeaea;
}
/* line 108, ../sass/modules/_home.scss */
.home-features .feature:last-of-type {
  padding-bottom: 0;
}
/* line 110, ../sass/modules/_home.scss */
.home-features .feature:last-of-type:after {
  display: none;
}
/* line 114, ../sass/modules/_home.scss */
.home-features .feature .feature-content {
  width: 50%;
  display: inline-block;
}
/* line 117, ../sass/modules/_home.scss */
.home-features .feature .feature-content h3 {
  padding-bottom: 58px;
  color: #413454;
}
/* line 121, ../sass/modules/_home.scss */
.home-features .feature .feature-content p {
  color: #7b6696;
}
/* line 123, ../sass/modules/_home.scss */
.home-features .feature .feature-content p:last-of-type {
  padding-bottom: 34px;
}
/* line 128, ../sass/modules/_home.scss */
.home-features .feature .feature-img {
  position: relative;
  width: 50%;
  height: 100%;
}
/* line 132, ../sass/modules/_home.scss */
.home-features .feature .feature-img.right img {
  float: right;
}
/* line 135, ../sass/modules/_home.scss */
.home-features .feature .feature-img img {
  width: auto;
  height: 160px;
}

/* ======================================
    CONNECT
====================================== */
/* line 146, ../sass/modules/_home.scss */
.home-connect {
  padding: 80px 0;
  text-align: center;
  background: url("../img/movie_mosaic.jpg") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 152, ../sass/modules/_home.scss */
.home-connect h2 {
  color: #fdbd4e;
  padding-bottom: 12px;
}
/* line 156, ../sass/modules/_home.scss */
.home-connect p {
  padding-bottom: 34px;
  color: #fdffe6;
}
/* line 159, ../sass/modules/_home.scss */
.home-connect p small {
  font-size: 11px;
  text-align: center;
}
/* line 164, ../sass/modules/_home.scss */
.home-connect .alert {
  padding-bottom: 58px;
  font-family: "montserrat_semibold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fdbd4e;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  color: #eee;
  background-color: #353535;
}
/* line 2, ../sass/partials/_mixins.scss */
footer:before, footer:after {
  content: "";
  display: table;
}
/* line 7, ../sass/partials/_mixins.scss */
footer:after {
  clear: both;
}
/* line 6, ../sass/modules/_footer.scss */
footer ul {
  float: left;
}
/* line 8, ../sass/modules/_footer.scss */
footer ul li {
  display: inline-block;
}
/* line 10, ../sass/modules/_footer.scss */
footer ul li + li {
  margin-left: 54px;
}
/* line 13, ../sass/modules/_footer.scss */
footer ul li a {
  padding: 13px 0;
  display: block;
  font-family: "montserrat_light", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #eee;
}
/* line 23, ../sass/modules/_footer.scss */
footer p {
  float: right;
  display: inline-block;
  font-family: "montserrat_light", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 42px;
}
/* line 29, ../sass/modules/_footer.scss */
footer p span {
  margin-top: -6px;
  padding-right: 6px;
}
