.home section p {
    font-family: $text-font;
    font-size: 1.6rem;
    & + p {
        padding-top: 2rem;
    }
    &.bigger {
        font-size: 2rem;
        line-height: 2.4rem;
        padding-bottom: 4.2rem;
        span {
            text-transform: uppercase;
        }
    }
    a {
        color: $orange;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media (max-width: $smartphoneMax) {
    .home section p.bigger {
        padding-bottom: 0;
    }
}
@media (max-width: $smartphone) {
    .home section p {
        font-size: 1.4rem;
        & + p {
            padding-top: 1.6rem;
        }
        &.bigger {
            padding-bottom: 2rem;
            font-size: 1.6rem;
        }
    }
}

/* ======================================
    INTRODUCTION
====================================== */
.home-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url("../img/home_background.jpg") no-repeat center center;
    background-position: center center;
    @include background-size(cover);

    .intro-content {
        position: relative;
        top: 50%;
        @include transformY50;
    }

    .subtitle {
        position: relative;
        padding: 5.4rem 0 .8rem;
        margin-bottom: 12rem;
        color: #fff;
        font-family: $text-light;
        font-size: 2.6rem;
        line-height: 2.6rem;
        background-color: rgba(0, 0, 0, .7);
        &:before {
            position: absolute;
            content: '';
            left: 50%;
            top: 3.4rem;
            width: 3.6rem;
            height: .1rem;
            margin-left: -1.8rem;
            background-color: #fff;
        }
    }
}
@media (max-width: $smartphone) {
    .home-intro .subtitle {
        margin-bottom: 7.6rem;
        padding: 2.2rem 0 .4rem;
        font-size: 1.6rem;
        &:before {
            top: 1.4rem;
        }
    }
}
@media (max-width: $smartphone) and (orientation: landscape) {
    .home-intro .subtitle {
        margin-bottom: 3.6rem;
    }
}

/* ======================================
    CONCEPT
====================================== */
.home-description {
    background: url("../img/movie_clap.svg") no-repeat top -12rem right -2.4rem $purple;
    background-size: 38% auto;
    border-bottom: 1px solid $dark-purple;

    .description {
        padding: 20rem 0;
        h2 {
            color: $yellow;
            padding-bottom: 6.6rem;
        }
        p {
            color: $yellow;
            .uppercase {
                text-transform: uppercase;
            }
            .highlighted {
                color: $orange;
            }
        }
    }

}
@media (min-width: $desktop) {
    .home-description {
        background-size: auto;
    }
}
@media (max-width: $tabletMax) {
    .home-description {
        background-size: 40rem auto;
    }
}
@media (max-width: $tablet) {
    .home-description {
        background-size: 32rem auto;
        background-position: right -2.4rem top -6rem ;

        .description.half {
            width: 75%;
        }
    }
}
@media (max-width: $smartphoneMax) {
    .home-description {
        background-size: 25rem auto;
        background-position: center top -4rem;

        .description.half {
            width: 100%;
            padding: 25rem 0 6rem;
            h2 {
                padding-bottom: 3.6rem;
            }
        }
    }
}
@media (max-width: $smartphone) {
    .home-description .description.half h2 {
        padding-bottom: 1.6rem;
    }
}

/* ======================================
    HOW TO
====================================== */
.home-features {
    padding: 8rem 0;
    background: $yellow;

    h2 {
        color: $purple;
        text-align: center;
        padding-bottom: 2.4rem;
    }

    .feature {
        position: relative;
        padding: 7.2rem 0;
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            width: 32rem;
            height: .1rem;
            margin: 0 auto 0 -16rem;
            background-color: $border-grey;
        }
        &:last-of-type {
            padding-bottom: 0;
            &:after {
                display: none;
            }
        }

        .feature-content {
            width: 50%;
            display: inline-block;
            h3 {
                padding-bottom: 5.2rem;
                color: $dark-purple;
            }
            p {
                color: $purple;
            }
        }

        .feature-img {
            position: relative;
            width: 50%;
            height: 100%;
            &.right img {
                float: right;
            }
            img {
                width: auto;
                height: 16rem;
            }
        }
    }
}
@media (max-width: $smartphoneMax) {
    .home-features .feature .feature-img img {
        height: 13rem;
    }
}
@media (max-width: $smartphone) {
    .home-features {
        padding: 6rem 0;

        h2 {
            padding-bottom: 1.4rem;
        }

        .feature {
            padding: 3.4rem 0;
            &:after {
                width: 50%;
                margin: 0;
                @include transformX50();
            }

            .feature-content {
                width: 100%;
                text-align: center;
                h3 {
                    padding-bottom: 15.6rem;
                }
                p:last-of-type {
                    padding-bottom: 2.6rem;
                }
            }
            .feature-img {
                position: absolute;
                top: 9.4rem;
                left: 50%;
                width: 100%;
                height: auto;
                float: none;
                text-align: center;
                @include transformX50();
                &.right img,
                img {
                    float: none;
                    height: 9.8rem;
                }
            }
        }
    }
}

/* ======================================
    GET STARTED
====================================== */
.home-connect {
    position: relative;
    padding: 8rem 0;
    text-align: center;
    background: url("../img/movie_mosaic.jpg") no-repeat center center;
    @include background-size(cover);

    .filter {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }

    > div {
        position: relative;
        z-index: 1;

        h2 {
            color: $orange;
            padding-bottom: 1.2rem;
        }
        p {
            padding-bottom: 3.4rem;
            line-height: 1.4rem;
            color: $light-grey;
            small {
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: center;
            }
        }
        .alert {
            padding-bottom: 4.2rem;
            font-family: $text-semibold;
            font-size: 2rem;
            line-height: 2rem;
            color: $orange;
        }
    }
}
@media (max-width: $smartphone) {
    .home-connect {
       padding: 6rem 0;

        p {
            padding-bottom: 1.2rem;
        }

        .alert {
            padding-bottom: 4rem;
            font-size: 1.6rem;
        }
    }
}
