.add-container {
    @extend .grey-section;
    
    .search-title-results {
        margin-top: 3rem;
        li {
            font-size: 2rem;
            font-weight: 600;
            + li {
                padding-top: .8rem;
            }
        }
    }
}