footer {
    color: $light-grey;
    background-color: $dark-grey;
    @include clearfix();
    ul {
        float: left;
        padding-top: 8px;
        li {
            display: inline-block;
            & + li {
                margin-left: 42px;
            }
            a {
                padding: 6px 8px;
                display: block;
                font-family: $text-light;
                font-size: 15px;
                color: $light-grey;
                @include border-radius(2px);
                &:hover {
                    background: darken($dark-grey, 3%);
                }
            }
        }
    }
    
    p {
        float: right;
        display: inline-block;
        font-family: $text-light;
        font-size: 11px;
        line-height: 42px;
        span {
            margin-top: -6px;
            padding-right: 6px;
        }
        br {
            display: none;
        }
    }
}
@media (max-width: $smartphone) {
    footer {
        text-align: center;
        ul,
        p {
            float: none;
        }
        ul {
            padding: 14px 0;
            li {
                & + li {
                    margin-left: 24px;
                }
                a {
                    font-size: 12px;
                }
            }
        }
        p {
            padding-bottom: 10px;
            font-size: 10px;
            line-height: 1;
        }
    }
}
@media (max-width: $smartphoneMin) {
    footer {
        ul {
            padding: 14px 0 24px;
        }
        p br {
            display: block;
        }
    }
}