footer {
    padding: 48px 0;
    color: $light-grey;
    text-align: center;
    background-color: $dark-grey;
    @include clearfix();
    .logo {
        width: 72px;
        height: auto;
        margin-bottom: 3px;
        path {
            fill: #fff;
        }
    }
    h2 {
        font-family: $text-ultralight;
        font-size: 34px;
        margin-bottom: 18px;
        span {
            font-family: $text-semibold;
        }
    }
    p {
        display: block;
        font-family: $text-light;
        font-size: 12px;
        line-height: 20px;
        color: $medium-grey;
        span {
            margin-top: -6px;
            padding-right: 6px;
        }
        br {
            display: none;
        }
        a {
            color: #fff;
            
            &:hover {
                color: $orange;
            }
        }
    }
    ul li {
        margin-top: 20px;
        display: inline-block;
        & + li {
            margin-left: 14px;
        }
        a {
            display: block;
            font-family: $text-light;
            font-size: 20px;
            color: $light-grey;
            @include border-radius(2px);
            &:hover {
                color: $orange;
            }
        }
    }
}