header {
    position: fixed;
    width: 100%;
    height: 8rem;
    padding: 0 6rem;
    color: $light-grey;
    @include box-sizing(border-box);
    @include transition();
    @include clearfix;
    z-index: 100;
    .logo {
        float: left;
        width: 5.7rem;
        height: 4.6rem;
        margin-top: 1.6rem;
        margin-right: 4rem;
        @include transition();
        &:hover svg path {
            fill: $orange;
        }
        svg path {
            fill: #fff;
            @include transition();
        }
    }
    .hamburger {
        display: none;
    }
    nav,
    ul li {
        display: inline-block;
        & + li {
            margin-left: 4rem;
        }
        a {
            display: block;
            font-family: $text-semibold;
            font-size: 1.4rem;
            color: $light-grey;
            line-height: 8rem;
            text-transform: uppercase;
            @include transition();
            &:hover {
                color: $orange;
            }
        }
    }
    .user {
        float: right;
        color: $light-grey;
        vertical-align: middle;
        .switch-container {
            float: left;
            line-height: 8rem;
            @include transition();
            .switch {
                margin: 0 2.4rem 0 .6rem;
            }
        }
        .user-portrait {
            position: relative;
            float: left;
            margin: 1.6rem 1.1rem 0 0;
            overflow: hidden;
            @include transition();
            a {
                overflow: hidden;
                display: block;
                width: 4.8rem;
                height: 4.8rem;
                background-position: center;
                @include background-size(cover);
                @include border-radius(50%);
                &:hover span {
                    @include transform(scale(1));
                }
                span {
                    position: absolute;
                    width: 4.8rem;
                    height: 4.8rem;
                    font-size: 2rem;
                    color: #fff;
                    line-height: 4.8rem;
                    text-align: center;
                    background: rgba(0, 0, 0, .6);
                    @include border-radius(50%);
                    @include transform(scale(0));
                    @include transition();
                }
                img {
                    width: 4.8rem;
                    @include border-radius(50%);
                }
            }
            &.disconnected {
                margin: 0;
                a {
                    font-family: $text-font;
                    font-size: 1.4rem;
                    color: #fff;
                    line-height: 8rem;
                    display: inline;
                    width: auto;
                    height: auto;
                    @include transition();
                    &:hover {
                        color: $orange;
                    }
                    i {
                        margin-right: .6rem;
                    }
                }
            }
        }
        p {
            padding: 2.4rem 0;
            display: inline-block;
            font-family: $text-font;
            font-size: 1.2rem;
            line-height: 1.4rem;
            @include transition();
            #username {
                font-family: $text-semibold;
                font-size: 1.4rem;
                text-decoration: none;
                color: $orange;
                text-transform: uppercase;
                @include transition();
                &:hover {
                    text-decoration: underline;
                }
            }
            a {
                max-width: 23rem;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            i {
                font-size: 1.6rem;
            }
        }
    }
    // Darkened
    &.darkened {
        background-color: rgba(0, 0, 0, .6);
    }
    // Scrolled
    &.scrolled {
        height: 6rem;
        background: #fff;
        @include box-shadow(rgba(black, .35) 0 .1rem .2rem);
        .logo {
            margin-top: .6rem;
            &:hover svg path {
                fill: $orange;
            }
            svg path {
                fill: $purple;
            }
        }
        ul li a {
            line-height: 6rem;
            color: $purple;
            &:hover {
                color: $orange;
            }
        }
        .user {
            color: $grey;
            .switch-container {
                line-height: 6rem;
                .switch {
                    .slider {
                        @include box-shadow(inset 0 0 0 .1rem $purple);
                    }
                    input {
                        &:checked + .slider {
                            background-color: $purple;
                        }
                        &:focus + .slider {
                            background-color: rgba(0, 0, 0, .6);
                        }
                    }
                }
            }
            .user-portrait {
                margin: .6rem 1.1rem 0 0;
                &.disconnected {
                    margin: 0;
                    a {
                        color: $purple;
                        line-height: 6rem;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
            p {
                padding: 1.4rem 0;
                #username {
                    color: $purple;
                }
            }
        }
    }
}

@media (max-width: $tabletMax) {
    header {
        padding: 0 1.6rem;
        nav + li,
        ul li + li {
            margin-left: 2rem;
        }
    }
}

@media (max-width: $tablet) {
    header {
        height: 4.4rem;
        .logo {
            display: none;
        }
        .hamburger {
            width: 2rem;
            height: 1.5rem;
            padding: 1.5rem 0 1.4rem;
            display: inline-block;
            @include transition();
            &:hover {
                cursor: pointer;
            }
            &.active {
                @include transform(rotate(180deg));
                span:nth-child(1) {
                    margin-top: .6rem;
                    @include transform(rotate(45deg));
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    margin-top: -.8rem;
                    @include transform(rotate(-45deg));
                }
            }
            span {
                width: 2rem;
                height: .2rem;
                background: #fff;
                display: block;
                @include transition();
                & + span {
                    margin-top: .4rem;
                }
            }
        }
        nav {
            position: fixed;
            top: 4.4rem;
            left: 0;
            width: 100%;
            height: calc(100% - 4.4rem);
            text-align: center;
            background: rgba($dark-purple, .9);
            @include translate3d(-200%, 0, 0);
            @include transition-duration(.5s);
            &.open-menu {
                @include translate3d(0, 0, 0);
            }
            & + li {
                margin: 0;
            }
            ul {
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                text-align: center;
                height: 100%;
                li {
                    & + li {
                        margin: 0;
                    }
                    a {
                        font-size: 4.8rem;
                        color: #fff;
                        line-height: 5.6rem;
                    }
                }
            }
        }
        .user {
            .switch-container {
                line-height: 4.4rem;
            }
            .user-portrait {
                margin: .7rem .8rem;
                a {
                    width: 3rem;
                    height: 3rem;
                    span {
                        width: 3rem;
                        height: 3rem;
                        font-size: 1.6rem;
                        line-height: 3rem;
                    }
                    img {
                        width: 3rem;
                    }
                }
                &.disconnected {
                    a {
                        line-height: 4.4rem;
                    }
                }
            }
            p {
                padding: .7rem 0;
                font-size: 1rem;
                span {
                    font-size: 1.2rem;
                }
            }
        }
        &.scrolled {
            height: 4.4rem;
            .hamburger span {
                background: $purple;
            }
            nav ul li a {
                color: #fff;
                &:hover {
                    color: $orange;
                }
            }
            .user {
                .switch-container {
                    line-height: 4.4rem;
                }
                .user-portrait {
                    margin: .7rem .8rem 0;
                    &.disconnected a {
                        line-height: 4.4rem;
                    }
                }
                p {
                    padding: .7rem 0;
                }
            }
        }
    }
}

@media (max-width: $smartphone) and (orientation: landscape) {
    header nav ul li a,
    header.scrolled nav ul li a {
        font-size: 4.2rem;
    }
}

@media (max-width: $smartphoneMin) {
    header nav ul li a,
    header.scrolled nav ul li a {
        font-size: 4.2rem;
    }
    header .user p a {
        max-width: 16rem;
    }
}

@media (max-width: $smartphoneMin) and (orientation: landscape) {
    header nav ul li a,
    header.scrolled nav ul li a {
        line-height: 4.6rem;
    }
}