header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 60px;
    color: $light-grey;
    @include box-sizing(border-box);
    @include transition();
    @include clearfix;
    z-index: 100;
    
    .logo {
        float: left;
        width: 57px;
        height: 46px;
        margin-top: 16px;
        margin-right: 40px;
        @include transition();
        &:hover svg path {
            fill: $orange;
        }
        svg path {
            fill: #fff;
            @include transition();
        }
    }
    
    .hamburger {
        display: none;
    }
    
    nav,
    ul li {
        display: inline-block;
        & + li {
            margin-left: 40px;
        }
        a {
            display: block;
            font-family: $text-semibold;
            font-size: 14px;
            color: $light-grey;
            line-height: 80px;
            text-transform: uppercase;
            @include transition();
            &:hover {
                color: $orange;
            }
        }
    }

    .user {
        float: right;
        color: $light-grey;
        
        .user-portrait {
            position: relative;
            float: left;
            margin: 16px 11px 0 0;
            overflow: hidden;
            @include transition();
            a {
                overflow: hidden;
                &:hover span {
                    @include transform(scale(1));
                }
                span {
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    font-size: 20px;
                    color: #fff;
                    line-height: 48px;
                    text-align: center;
                    background: rgba(0, 0, 0, .6);
                    @include border-radius(50%);
                    @include transform(scale(0));
                    @include transition();
                }
                img {
                    width: 48px;
                    @include border-radius(50%);
                }
            }
            &.disconnected {
                margin: 0;
                a {
                    font-family: $text-font;
                    font-size: 14px;
                    color: #fff;
                    line-height: 80px;
                    @include transition();
                    &:hover {
                        color: $orange;
                    }
                    i {
                        margin-right: 6px;
                    }
                }
            }
        }
        p {
            padding: 21px 0;
            display: inline-block;
            font-family: $text-font;
            font-size: 12px;
            line-height: 1.4;
            @include transition();
            span {
                font-family: $text-semibold;
                font-size: 14px;
                color: $orange;
                text-transform: uppercase;
                @include transition();
            }
            i {
                font-size: 16px;
            }
        }
    }
    
    // Scrolled
    &.scrolled {
        height: 60px;
        background: #fff;
        @include box-shadow(rgba(black, .35) 0 1px 2px);
        
        .logo {
            margin-top: 6px;
            &:hover svg path {
                fill: $orange;
            }
            svg path {
                fill: $purple;
            }
        }
        
        ul li a {
            line-height: 60px;
            color: $purple;
            &:hover {
                color: $orange;
            }
        }
        
        .user {
            color: $grey;
            
            .user-portrait {
                margin: 6px 11px 0 0;
                &.disconnected {
                    margin: 0;
                    a {
                        color: $purple;
                        line-height: 60px;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
            
            p {
                padding: 12px 0;
                span {
                    color: $purple;
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    header {
        padding: 0 16px;
        
        .logo {
            margin-right: 24px;
        }
        
        nav + li,
        ul li + li {
            margin-left: 24px;
        }
    }
}
@media (max-width: $smartphoneMax) {
    header {
        height: 44px;
        
        .logo {
            display: none;
        }
        
        .hamburger {
            width: 20px;
            height: 15px;
            padding: 15px 0 14px;
            display: inline-block;
            @include transition();
            &:hover {
                cursor: pointer;
            }
            &.active {
                @include transform(rotate(180deg));
                span:nth-child(1) {
                    margin-top: 6px;
                    @include transform(rotate(45deg));
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    margin-top: -8px;
                    @include transform(rotate(-45deg));
                }
            }
            
            span {
                width: 20px;
                height: 2px;
                background: #fff;
                display: block;
                @include transition();
                & + span {
                    margin-top: 4px;
                }
            }
        }
        
        nav {
            position: absolute;
            top: 44px;
            left: 0;
            width: 100%;
            height: 100vh;
            display: none;
            background: rgba($dark-purple, .9);
            &.open-menu {
                display: block;
            }
            & + li {
                margin: 0;
            }
            ul {
                text-align: center;
                padding-top: 52px;
                li {
                    display: block;
                    & + li {
                        margin: 0;
                    }
                    a {
                        font-size: 48px;
                        color: #fff;
                        line-height: 80px;
                    }
                }
            }
        }
        
        .user {
            .user-portrait {
                margin: 7px 8px 0;
                a {
                    span {
                        width: 30px;
                        height: 30px;
                        font-size: 16px;
                        line-height: 30px;
                    }
                    img {
                        width: 30px;
                    }
                }
                &.disconnected {
                    a {
                        line-height: 44px;
                    }
                }
            }
            p {
                padding: 7px 0;
                font-size: 10px;
                span {
                    font-size: 12px;
                }
            }
        }
        
        &.scrolled {
            height: 44px;
            
            .hamburger span {
                background: $purple;
            }
            
            nav ul li a {
                color: #fff;
                &:hover {
                    color: $orange;
                }
            }
            
            .user {
                .user-portrait {
                    margin: 7px 8px 0;
                    &.disconnected a {
                        line-height: 44px;
                    }
                }
                p {
                    padding: 7px 0;
                }
            }
        }
    }
}
@media (max-width: $smartphone) and (orientation: landscape) {
    header nav ul {
        padding-top: 24px;
        li a {
            font-size: 42px;
            line-height: 66px;
        }
    }
}
@media (max-width: $smartphoneMin) {
    header nav ul li a {
        font-size: 42px;
    }
}
@media (max-width: $smartphoneMin) and (orientation: landscape) {
    header nav ul {
        padding-top: 8px;
    }
}