.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
}

.btn-square {
    &.small {
        
    }
}

.btn-fb {
    
}

.btn-round {
    
}