footer {
    padding: 4.8rem 0;
    color: $light-grey;
    text-align: center;
    background-color: $dark-grey;
    @include clearfix();
    .logo {
        width: 7.2rem;
        height: auto;
        margin-bottom: .3rem;
        path {
            fill: #fff;
        }
    }
    h2 {
        font-family: $text-ultralight;
        font-size: 3.4rem;
        margin-bottom: 2rem;
        span {
            font-family: $text-semibold;
        }
        small {
            font-size: 1.2rem;
            color: $medium-grey;
            text-transform: none;
        }
    }
    p {
        display: block;
        font-family: $text-light;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $medium-grey;
        span {
            margin-top: -.6rem;
            padding-right: .6rem;
        }
        br {
            display: none;
        }
        a {
            color: #fff;

            &:hover {
                color: $orange;
            }
        }
    }
    ul li {
        margin-top: 2.2rem;
        display: inline-block;
        & + li {
            margin-left: 1.4rem;
        }
        a {
            display: block;
            font-family: $text-light;
            font-size: 2rem;
            color: $light-grey;
            @include border-radius(.2rem);
            &:hover {
                color: $orange;
            }
        }
    }
}
@media (max-width: $smartphoneMax) {
    footer {
        padding: 3rem 0;
    }
}
