$orange: #fdbd4e;
$dark-orange: #e59f26;

$purple: #7b6696;
$dark-purple: #413454;

$yellow: #fdffe6;

$fb-blue: #4d68a4;
$dark-fb-blue: #364973;

$border-grey: #eaeaea;
$light-grey: #eee;
$dark-grey: #353535;