footer {
    color: $light-grey;
    background-color: $dark-grey;
    @include clearfix();
    
    ul {
        float: left;
        li {
            display: inline-block;
            & + li {
                margin-left: 54px;
            }
            a {
                padding: 13px 0;
                display: block;
                font-family: $text-light;
                font-size: 15px;
                color: $light-grey;
            }
        }
    }
    
    p {
        float: right;
        display: inline-block;
        font-family: $text-light;
        font-size: 11px;
        line-height: 42px;
        span {
            margin-top: -6px;
            padding-right: 6px;
        }
    }
}