.home section p {
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.2;
    & + p {
        padding-top: 20px;
    }
    &.bigger {
        font-size: 20px;
        padding-bottom: 42px;
        span {
            text-transform: uppercase;
        }
    }
    a {
        color: $orange;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* ======================================
    INTRODUCTION
====================================== */
.home-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url("../img/home_background.jpg") no-repeat center center;
    background-position: center center;
    @include background-size(cover);
    
    .intro-content {
        position: relative;
        top: 50%;
        @include transformY50;
    }
    
    .subtitle {
        position: relative;
        padding: 54px 0 8px;
        margin-bottom: 120px;
        color: #fff;
        font-family: $text-light;
        font-size: 24px;
        background-color: rgba(0, 0, 0, .7);
        &:before {
            position: absolute;
            content: '';
            left: 50%;
            top: 34px;
            width: 36px;
            height: 1px;
            margin-left: -18px;
            background-color: #fff;
        }
    }
}

/* ======================================
    DESCRIPTION
====================================== */
.home-description {
    background: url("../img/movie_clap.svg") no-repeat top -120px right -24px $purple;
    background-size: 38% auto;
    border-bottom: 1px solid $dark-purple;
    
    .description {
        padding: 200px 0;
        h2 {
            color: $yellow;
            padding-bottom: 66px;
        }
        p {
            color: $yellow;
        }
    }
    
}

/* ======================================
    GET STARTED
====================================== */
.home-features {
    padding: 80px 0;
    
    h2 {
        color: $purple;
        text-align: center;
        padding-bottom: 24px;
    }
    
    .feature {
        position: relative;
        padding: 72px 0;
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            width: 320px;
            height: 1px;
            margin: 0 auto 0 -160px;
            background-color: $border-grey;
        }
        &:last-of-type {
            padding-bottom: 0;
            &:after {
                display: none;
            }
        }
        .feature-content {
            width: 50%;
            display: inline-block;
            h3 {
                padding-bottom: 58px;
                color: $dark-purple;
            }
            p {
                color: $purple;
                &:last-of-type {
                    padding-bottom: 34px;
                }
            }
        }
        .feature-img {
            position: relative;
            width: 50%;
            height: 100%;
            &.right img {
                float: right;
            }
            img {
                width: auto;
                height: 160px;
            }
        }
    }
}

/* ======================================
    CONNECT
====================================== */
.home-connect {
    padding: 80px 0;
    text-align: center;
    background: url("../img/movie_mosaic.jpg") no-repeat center center;
    @include background-size(cover);
    
    h2 {
        color: $orange;
        padding-bottom: 12px;
    }
    p {
        padding-bottom: 34px;
        color: $yellow;
        small {
            font-size: 11px;
            text-align: center;
        }
    }
    .alert {
        padding-bottom: 58px;
        font-family: $text-semibold;
        font-size: 18px;
        color: $orange;
    }
}