// Compass
@import 'compass';

// Headings
$title-font: 'nexa_bold', Helvetica, Arial, sans-serif;
$title-size: 5.2rem;

// Base font
$text-font: 'montserrat', Helvetica, Arial, sans-serif;
$text-size: 1.6rem;
$text-line-height: 2rem;

// Font states
$text-ultralight: 'montserrat_ultralight', Helvetica, Arial, sans-serif;
$text-light: 'montserrat_light', Helvetica, Arial, sans-serif;
$text-semibold: 'montserrat_semibold', Helvetica, Arial, sans-serif;
$text-bold: 'montserrat_bold', Helvetica, Arial, sans-serif;

// Colors
$orange: #fdbd4e;
$light-orange: #fee6bc;
$dark-orange: #e59f26;

$purple: #7b6696;
$dark-purple: #413454;

$red: #F72359;
$yellow: #fffcf5;
$green: #2DCC70;

$fb-blue: #4d68a4;
$light-fb-blue: #7c96d1;
$dark-fb-blue: #364973;

$light-grey: #eee;
$grey: darken($light-grey, 50%);
$medium-grey: #aaa;
$dark-grey: #2a2a2a;
$border-grey: #eaeaea;

// Responsive
$desktop: 1920px;
$desktopSmall: 1280px;
$tabletMax: 1024px;
$tablet: 960px;
$tabletMin: 768px;
$smartphoneMax: 767px;
$smartphone: 640px;
$smartphoneMin: 480px;

// Base elements
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    font-family: $text-font;
    font-size: 1.4rem;
    color: $dark-grey;
}

a {
    text-decoration: none;
}
p {
    line-height: $text-line-height;
}