.btn {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        cursor: pointer;
    }
}

.btn-square {
    padding: 14px 82px 8px;
    font-family: 'nexa_bold';
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    background: $orange;
    @include box-shadow(0 0 0 $dark-orange, 0 5px 10px rgba(0, 0, 0, .35));
    @include border-radius(3px);
    @include transition-duration(.3s);
    &:hover {
        background: darken($orange, 5%);
        @include box-shadow(0 0 0 $dark-orange, 0 3px 5px rgba(0, 0, 0, .35));
    }
}
@media (max-width: $smartphone) {
    .btn-square {
        padding: 9px 64px;
        font-size: 30px;
    }
}

.btn-fb {
    padding: 11px 22px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background: $fb-blue;
    @include box-shadow(0 0 0 $dark-fb-blue, 0 5px 10px rgba(0, 0, 0, .35));
    @include border-radius(3px);
    @include transition-duration(.3s);
    &:hover {
        background: darken($fb-blue, 5%);
        @include box-shadow(0 0 0 $dark-fb-blue, 0 3px 5px rgba(0, 0, 0, .35));
    }
    i {
        font-size: 28px;
        vertical-align: middle;
        margin-right: 16px;
    }
}
@media (max-width: $smartphone) {
    .btn-fb {
        padding: 12px 22px 11px;

        i {
            font-size: 24px;
        }
    }
}

.btn-round {
    font-family: $text-font;
    padding: 12px 22px;
    color: $dark-purple;
    background: transparent;
    border: 2px solid $orange;
    @include border-radius(50px);
    @include transition-duration(.3s);
    &:hover {
        color: #fff;
        background: $orange;
    }
}