form {
    padding-bottom: 6rem;
    label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.8rem;
        color: $grey;
        pointer-events: none;
        @include translate3d(1rem, 3.3rem, 0);
        @include transition();
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="file"],
    textarea,
    select {
        max-width: 100%;
        margin-top: 1.8rem;
        padding: 0 1rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: $dark-grey;
        background-color: #fff;
        border: 0;
        border-radius: .2rem;
        overflow: hidden;
        @include transition();
        @include box-sizing(border-box);
        &:hover {
            cursor: pointer;
        }
        &:focus {
            color: #fff;
            background-color: $purple;
            outline: 0;
            +label {
                font-size: 1.5rem;
                color: $purple;
                @include translate3d(0, 0, 0);
            }
        }
    }
    input:not([type="file"]),
    select {
        height: 4.8rem;
    }
    input[type="number"] {
        width: 32rem;
    }
    input[type="file"] {
        padding: 0 0 1rem;
        background: transparent;
        &:focus {
            color: $purple;
            background: transparent;
            @include box-shadow(none);
            +label {
                @include translate3d(0, 0, 0);
            }
        }
        +label {
            font-size: 1.5rem;
            @include translate3d(0, 0, 0);
        }
    }
    textarea {
        height: 15rem;
        padding: 1.5rem 1rem;
        resize: none;
        overflow-y: auto;
    }
    button[type="submit"] {
        margin-top: 2rem;
    }
    .input-container {
        position: relative;
        @include display-flex;
        @include flex-direction(column);
        &.filled label {
            font-size: 1.5rem;
            color: $grey;
            @include translate3d(0, 0, 0);
        }
        +.input-container {
            margin-top: 4rem;
        }
        label,
        input,
        select,
        textarea {
            @include flex(1 1 auto);
        }
        input:required:focus:valid+label,
        select:required:focus:valid+label,
        textarea:required:focus:valid+label {
            color: $green;
        }
        input:required:focus:invalid+label,
        select:required:focus:invalid+label,
        textarea:required:focus:invalid+label {
            color: $red;
        }
        input:not([type="file"]):required:focus:valid,
        select:required:focus:valid,
        textarea:required:focus:valid {
            background-color: $green;
        }
        input:not([type="file"]):required:focus:invalid,
        select:required:focus:invalid,
        textarea:required:focus:invalid {
            background-color: $red;
        }
        input[type="file"]:valid,
        input[type="file"]:focus:valid {
            background-color: transparent;
            +label {
                color: $green;
            }
        }
        input[type="file"]:invalid,
        input[type="file"]:focus:invalid {
            background-color: transparent;
            +label {
                color: $red;
            }
        }
    }
    h2 {
        margin: 3rem 0 1.5rem;
        font-family: $text-font;
        font-size: 1.8rem;
        color: $grey;
        text-transform: none;
        @include text-shadow(none);
        big {
            color: $purple;
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
    span {
        font-size: 1.2rem;
        font-style: italic;
    }
    .errors {
        margin-bottom: 4rem;
    }
    .error {
        color: $red;
        +.error {
            padding-top: .3rem;
        }
    }
}

.confirmation {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: $green;
}

@media (max-width: $smartphoneMax) {
    form {
        padding-bottom: 3rem;
        .input-container+.input-container {
            margin-top: 2rem;
        }
        .error {
            text-align: center;
        }
    }
}

@media (max-width: $smartphoneMax) {
    form input[type="number"] {
        width: 100%;
    }
}