.grey-section {
    min-height: 100vh;
    padding-top: 20rem;
    background-color: $light-grey;
    h1 {
        margin-bottom: 10rem;
        font-family: $text-font;
        font-size: 6.4rem;
        font-weight: 600;
        color: $purple;
        text-align: center;
        @include text-shadow(none);
    }
}

@media (max-width: $tablet) {
    .grey-section {
        padding-top: 15rem;
        h1 {
            font-size: 5.8rem;
            margin-bottom: 7rem;
        }
    }
}
@media (max-width: $tablet) {
    .grey-section {
        padding-top: 15rem;
        h1 {
            font-size: 5.8rem;
            margin-bottom: 7rem;
        }
    }
}
@media (max-width: $smartphoneMin) {
    .grey-section {
        padding-top: 10rem;
        h1 {
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    }
}