.grey-section {
    min-height: 100vh;
    background-color: $light-grey;
    h1 {
        padding: 20rem 0 10rem;
        font-family: $text-font;
        font-size: 6.4rem;
        font-weight: 600;
        color: $purple;
        text-align: center;
        @include text-shadow(0 .1rem .1rem rgba(0, 0, 0, 0.3));
    }
}

@media (max-width: $tablet) {
    .grey-section h1 {
        padding: 12rem 0 7rem;
        font-size: 5.8rem;
    }
}

@media (max-width: $smartphoneMax) {
    .grey-section h1 {
        font-size: 5.2rem;
    }
}

@media (max-width: $smartphoneMin) {
    .grey-section h1 {
        padding: 10rem 0 5rem;
        font-size: 4rem;
    }
}