.add-container {
    @extend .grey-section;
    .search-title-results {
        margin-bottom: 3rem;
        li {
            @include display-flex;
            @include align-items(center);
            position: relative;
            height: 7.4rem;
            margin-top: .7rem;
            padding: 1.5rem;
            background-color: #fff;
            @include box-shadow(0 .1rem .2rem 0 rgba(0, 0, 0, .25));
            @include border-radius(.2rem);
            @include transition();
            &:hover {
                @include box-shadow(0 .1rem 1.5rem 0 rgba(0, 0, 0, .2));
            }
        }
        h3,
        h4 {
            max-width: 70rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:first-letter {
                text-transform: capitalize;
            }
        }
        h3 {
            padding-bottom: 1rem;
            font-family: $text-semibold;
            font-size: 1.8rem;
            color: $dark-grey;
        }
        h4 {
            font-family: $text-light;
            font-size: 1.5rem;
            font-style: italic;
            color: $medium-grey;
        }
        .img-film,
        .text-container {
            @include flex(1 1 auto);
        }
        i {
            position: absolute;
            top: -2.4rem;
            right: 0;
            font-size: 2rem;
            color: $medium-grey;
            &:hover {
                cursor: pointer;
            }
            &.wishlisted {
                color: $red;
                display: none;
            }
        }
        .img-film {
            width: 7.2rem;
            min-width: 7.2rem;
            max-width: 7.2rem;
            height: 7.2rem;
            margin-right: 2rem;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(cover);
        }
    }
}

@media (max-width: $smartphoneMax) {
    .add-container .search-title-results li+li {
        margin-top: 1.5rem;
    }
}

@media (max-width: $smartphoneMin) {
    .add-container .search-title-results {
        h3,
        h4 {
            max-width: 19.5rem;
        }
        h3 {
            padding-bottom: .5rem;
            font-size: 1.6rem;
        }
        h4 {
            font-size: 1.4rem;
        }
        .img-film {
            width: 6rem;
            min-width: 6rem;
            max-width: 6rem;
            height: 6rem;
            margin-right: 1.5rem;
        }
    }
}
