.profile-container {
    h2 {
        margin-bottom: 5rem;
        font-family: "montserrat", Helvetica, Arial, sans-serif;
        font-size: 3.4rem;
        text-align: center;
        text-transform: none;
        text-shadow: none;
        color: $orange;
    }
    article {
        &#medals {
            ul {
                @include display-flex;
                @include flex-wrap(wrap);
                @include justify-content(space-between);
                @include align-items(center);
                text-align: center;
                margin-bottom: 3rem;
                li {
                    @include flex(1 1 auto);
                    margin: 0 2rem 2rem;
                    img {
                        max-width: 10rem;
                    }
                }
            }
        }
        &#favoris {
            padding-bottom: 5rem;
            li {
                position: relative;
                @include display-flex;
                @include align-items(center);
                height: 7.4rem;
                margin-top: 2rem;
                padding: 1.5rem;
                background-color: #fff;
                transition: all .3s;
                @include border-radius(0.2rem);
                @include box-shadow(0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.25));
                &:hover {
                    .buttons {
                        display: block;
                    }
                }
                .img_film {
                    width: 7.2rem;
                    min-width: 7.2rem;
                    max-width: 7.2rem;
                    height: 7.2rem;
                    margin-right: 2rem;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include background-size(cover);
                }
                .text-container {
                    @include flex(1 1 auto);
                    h3 {
                        padding-bottom: 1rem;
                        font-family: "montserrat_semibold", Helvetica, Arial, sans-serif;
                        font-size: 1.8rem;
                        line-height: 2rem;
                        color: #2a2a2a;
                        text-overflow: ellipsis;
                    }
                    h4 {
                        font-family: "montserrat_light", Helvetica, Arial, sans-serif;
                        font-size: 1.5rem;
                        font-style: italic;
                        color: #aaa;
                    }
                }
                .buttons {
                    display: none;
                    .delete-trash {
                        font-size: 3rem;
                        color: $purple;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    #sorting {
        overflow: hidden;
        margin-bottom: 1.5rem;
        .search {
            float: left;
            height: 4rem;
            padding: 0 1rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: $dark-grey;
            background-color: #fff;
            border: 0;
            overflow: hidden;
            transition: all .3s;
            @include border-radius(.2rem);
            @include box-sizing(border-box);
        }
        .filters {
            float: right;
            line-height: 4rem;
            .sort {
                margin-left: .5rem;
                padding: 0 1rem;
                font-size: 1.5rem;
                color: #fff;
                text-transform: uppercase;
                background-color: $purple;
                border: none;
                cursor: pointer;
                @include border-radius(.2rem);
                @include box-sizing(border-box);
                &:hover {
                    background-color: $orange;
                }
            }
        }
    }
}
@media (max-width: $smartphoneMax) {
    .profile-container #sorting {
        .search {
            width: 100%;
            margin-bottom: 1.6rem;
        }
        .filters {
            float: none;
            clear: both;
        }
        label {
            display: block;
        }
    }
}